body {
    margin: 2em;
}

.test-class {
    color: blueviolet;
}

.notes-cards {
    display: flex;
    flex-flow: row wrap;

}

.card {
    margin: 3em;
    padding: 2.5em;
}

.note-item {
    display: flex;
}

form {
    margin: 2em;
    padding: 1em;

}

textarea {
    min-height: 10em;
}