body {
    margin: 2em;
}

.test-class {
    color: #485FC7;
}

.notes-cards {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
    justify-content: flex-start;

}

#notes-list {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.card {
    display: flex;
    max-width: 33%;
    margin: 1.5em;
    padding: 1em;
}


.card-content {
    display: flex;
    flex-flow: row nowrap;
}

.card-content button {
    display: flex;
    margin: 0.5em;
}

form {
    margin: 2em;
    padding: 1em;

}

textarea {
    min-height: 7em;
    resize: none;
}